
img{
	border:0;
}

body{
	background-image:url('tile.gif');
}

p{
  margin:0px 0px 10px 0px;
}
#user, #pass{
  width:170px;
}

#box{
  width:200px; 
  margin:10px auto 0px auto; 
  background:#F0F0F0;
  padding:15px;
}

#name {
	/*margin: 20% auto 0;*/
	text-align: center;
	font-family: Verdana,sans-serif;
	font-size: 60px;
	color: #505050;
	/*margin-top: 5%;*/
	text-shadow: 2px 1px 2px #FCFCFC;
}

#poweredby, #copyright{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 14px;
	color: #505050;
	text-align: center;
	text-shadow: 0 1px 0 #FCFCFC;
}
.sc {
	margin: 0 auto;
	width: 610px;
}

#state, #city,#options {
	width: 180px;
	height: 70px;
	border: 1px solid #BABABA;
	margin: 30px auto auto;
	font-family: Lucida Sans Unicode,sans-serif;
	font-size: 20px;
	color: #212121;
}

button {
	width: 50px;
	height: 65px;
	font-family: Lucida Sans Unicode,sans-serif;
	font-size: 20px;
	color: #212121;
}

a {
	text-decoration: none;
}

#textcontent {
	width: 610px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 20px;
	opacity:0.7;

}


#info {
	width: 610px;
	height: 60px;	
	line-height: 60px;
	border: 2px solid;
	background-color: #99FFFF;
	box-shadow: 3px 3px 2px #888888;
	margin-bottom: 40px;
	border-top-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	font-family: Lucida Sans Unicode,sans-serif;
	padding-left: 30px;
	margin: 5px auto 0px;
	text-align:center;
	opacity:0.7;

}

#about {	
	position:absolute; 
	font-family: sans-serif;
	font-size: 14px;
	color: #505050;
	text-align: center;
	text-shadow: 0 1px 0 #FCFCFC;
	margin-left: 572px;
}

#login {	
	position:absolute; 
	font-family: sans-serif;
	font-size: 14px;
	color: #505050;
	text-align: center;
	text-shadow: 0 1px 0 #FCFCFC;
	margin-left: 522px;
}

#container {
	width: 610px;
	position:relative;
	margin: 20% auto 0;
	margin-top: 5%;
}

#intro {
	width: 750px;
	margin: 0 auto;
	font-family: Lucida Sans Unicode,sans-serif;
	border: 2px solid;
	background-color: #CCFFFF;
	box-shadow: 3px 3px 2px #888888;
	margin-top: 30px;
	margin-bottom: 20px;
	border-top-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	color: #080808 ;
	padding: 4px 4px 4px 4px;
	opacity:0.7;
}

#legend {
	width:150px;
	height:150px;
	background-color: #F0F0F0;
	border-radius: 5%;
	border:1px solid #808080;
	position:fixed;
	bottom: 15;
	float:right;
	right: 20;
	padding: 4px 4px 4px 4px;
}



